<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oplus.consumerIRApp.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetName="IR Remote" android:targetPackage="com.oplus.consumerIRApp" android:isStatic="true" />
</manifest>
